/*nav bar*/
.header {
    display: flex;
  
    .navtopbar {
      display: flex;
      padding: 30px;
      height: 80px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.616);
      position: fixed;
      top: 0%;
      margin: 0;
      .opcionesnav a {
          display: flex;
          font-family: "montserrat";
          font-weight: bolder;
          justify-content: space-between;
          color: white;
          width: 100%;
          margin-right: 40px;
        }
        
        .opcionesnav {
          display: flex;
          text-align: center;
        }
        
        .bnplogonav {
          font-family: "montserrat";
          font-weight: bolder;
          color: white;
          text-align: start;
        }
        
        .menu {
          display: flex;
          flex-direction: column;
          gap: 3px;
        }
        
        .menu span {
          display: block;
          width: 40px;
          height: 3px;
          background-color: white;
        }
      
    }
    
    
  }
  
  